body {
    font-family: sans-serif;
    background-color: #f9fbfd;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

.desc{
    margin: 25px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.quiz{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.finish{
    margin: 25px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.scores{
    margin: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.quiz{
    margin-top: 120px;
}

.answerButton{
    display: block;
    height: 70px;
    width: 280px;
    margin: 5px;
}

a:link{
    text-decoration: none;
}